@import url(reset.css);
@import url(fonts.css);
@import url(components/header.css);
@import url(components/featured.css);

body{
    color: rgb(0, 0, 0);
    font-family: Programme, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

header {
    box-sizing: border-box;
}

[class$="__Container"] {
    display: flex;
}

section {
    
}