.charts-section__Container {
    padding: 4.5rem calc(60px + 5.4rem) 0px;
    flex-direction: column;
}

.top-list__Container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-list__title {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
}

.top-list__box-filter {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 0.79rem calc(2.5rem) 0.79rem 1rem;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.icon-filters {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

.top-list__box-filter svg {
    position: relative;
    top: 1px;
    fill: rgb(0, 0, 0);
    width: 0.875rem;
    height: 0.875rem;
}

.filters {
    white-space: nowrap;
    word-break: keep-all;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 1px;
}

.list__Container {
    margin-top: 40px;
    flex-direction: column;
}

a.list-item__Container {
    display: grid;
    grid-template-columns: 1.1fr 5.6fr 3.3fr 2.7fr;
    grid-auto-rows: minmax(75px, auto);
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 0.15rem solid rgb(233, 233, 233);
}

a.list-item__Container:hover {
    background-color: rgb(233, 233, 233);
}

.number-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 100;
    padding: 1rem;
}

.song-info__Container {
    justify-content: flex-start;
    flex-direction: row;
}

.song-image {
    position: relative;
    background-position: center center;
    width: 60px;
    height: 60px;
    background-color: rgb(233, 233, 233);
    background-size: cover;
}

.song-name__Container {
    margin-left: 30px;
    align-items: center;
}

.song-name {
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0.5rem;
}

.lyrics {
    position: relative;
    top: -2px;
}

.lyrics span {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(154, 154, 154);
}


.song-author {
    font-weight: 100;
    max-width: 260px;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-views__Container {
    flex-direction: row;
}

.song-views__Container>* {
    flex: 1 1 0%;
    max-width: 50%;
    display: flex;
    align-items: center;
}

.song-views-n__Container {
    align-items: center;
}

.icon-view {
    width: 1rem;
    margin-right: 0.5rem;
    position: relative;
    top: -3px;
    flex-shrink: 0;
    line-height: 1.45;
}

.views, .number-fire  {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.icon-fire {
    width: 1rem;
    margin-right: 0.5rem;
    position: relative;
    top: 0px;
    flex-shrink: 0;
}

.number-fire {
    color: rgb(255, 20, 100);
}

.list__Container > .list-item__Container:first-child .song-image  {
    background-image: url(https://t2.genius.com/unsafe/315x315/https%3A%2F%2Fimages.genius.com%2F24aa58ea2142d2d8980be1e112647d6c.300x300x1.png);
}

.list__Container > .list-item__Container:nth-child(2) .song-image {
    background-image: url(https://t2.genius.com/unsafe/315x315/https%3A%2F%2Fimages.genius.com%2F514706123e1556e4d0c33474516ec2f3.300x300x1.png);
}

.list__Container > .list-item__Container:nth-child(3) .song-image {
    background-image: url(https://t2.genius.com/unsafe/315x315/https%3A%2F%2Fimages.genius.com%2F9f4956db3668c76003ded5b1dffc9fd8.300x300x1.png);
}

.list__Container > .list-item__Container:nth-child(4) .song-image {
    background-image: url(https://t2.genius.com/unsafe/315x315/https%3A%2F%2Fimages.genius.com%2F81aa0f549b430b4dc6f5b37928ea4f18.300x300x1.jpg);
}

.list__Container > .list-item__Container:nth-child(5) .song-image {
    background-image: url(https://t2.genius.com/unsafe/315x315/https%3A%2F%2Fimages.genius.com%2Fb25badd976ad7dac47b8cfb9e496707e.300x300x1.png);
}

.list__Container > .list-item__Container:nth-child(6) .song-image {
    background-image: url(https://t2.genius.com/unsafe/315x315/https%3A%2F%2Fimages.genius.com%2Fec359c594229814c28cb116dddc696d8.300x300x1.png);
}

.list__Container > .list-item__Container:nth-child(7) .song-image {
    background-image: url(https://t2.genius.com/unsafe/315x315/https%3A%2F%2Fimages.genius.com%2F342bbb52679627c49efa66ddeaba1c40.300x300x1.png);
}

.list__Container > .list-item__Container:nth-child(8) .song-image {
    background-image: url();
}

.list__Container > .list-item__Container:nth-child(9) .song-image {
    background-image: url();
}

.list__Container > .list-item__Container:nth-child(10) .song-image {
    background-image: url();
}