.latest-section__Container,
.top-latest-section__Container,
.latest-new__Container,
.top-latest-new__Container {
    flex-direction: column;
}

.latest-section__Container {
    padding: 4.5rem calc(60px + 5.4rem) 0px;
}

.top-latest-section__Container {
    align-items: center;
    gap: 0.5rem;
}

.latest-section__title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    letter-spacing: 2px;
}

.latest-section__subtitle {
    line-height: 1.45;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 20, 100);
    margin: 0;
}

.latest-news__Container {
    margin-top: 40px;
}

.latest-news-col__grid-col4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}


.top-latest-new__Container>.news:after {
    content: "";
    border-bottom: 0.15rem solid black;
    flex: 1 1 0%;
    position: relative;
    top: calc(-0.375rem);
    margin-left: 0.5rem;
}

.latest-new-image {
    margin-top: 0.5rem;
    width: 100%;
    position: relative;
    background-position: center center;
    padding-bottom: 56.25%;
    background-color: rgb(233, 233, 233);
    background-repeat: repeat-x;
    background-size: auto calc(100% + 1px);
}

.latest-new-title {
    margin-top: 0.75rem;
    margin-bottom: 0;
    font-size: 1.313rem;
    line-height: 1.125;
    font-weight: 100;
}

.latest-new__Container:hover .latest-new-title{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.top-latest-new__Container {
    margin-bottom: 1rem;
}

.latest-new__Container .notice-author {
    margin-top: 0.1rem;
    font-weight: 100;
    line-height: 1.5;
}

.latest-new__Container .notice-author .name::after{
    content: "/";
    margin-block: 0;
    margin-inline: 0.25rem .09rem;
    box-sizing: border-box;
    font-weight: 100;
}
